@font-face {
    font-family: light;
    src: url(./fonts/SFMono-Light.otf);
}

@font-face {
    font-family: regular;
    src: url(./fonts/SFMono-Medium.otf);
}


$background: #262626;
$darkgray: #303030;
$primary-blue: #087cb8;
$light-white: #f3f3f3;
$secondary: #32db64;
$danger: #fa4359;
$main: #087cb8;